[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "openai>=2.7.2",
    "python-dotenv>=1.2.1",
    "rich>=14.2.0",
]
